@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #021c37;
}

.line-left {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(70, 130, 180, 0),
        rgba(70, 130, 180, 1)
    );
    position: relative;
}

.line-right {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
        to left,
        rgba(70, 130, 180, 0),
        rgba(70, 130, 180, 1)
    );
    position: relative;
}

.title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.section-title {
    margin: 5rem 0rem;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
    background-color: steelblue;
    color: white;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
}

.left-block {
    height: 3px;
    width: 10px;
    position: absolute;
    background-color: white;
    transform: translateY(50%);
    bottom: 50%;
    right: 0px;
    animation-name: left-line-anim;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-fill-mode: both;
    border-radius: 50%;
    box-shadow: 0px 0px 20px white;
}

.right-block {
    height: 3px;
    width: 10px;
    position: absolute;
    background-color: white;
    transform: translateY(50%);
    bottom: 50%;
    left: 0px;
    animation-name: right-line-anim;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-fill-mode: both;
    border-radius: 50%;
    box-shadow: 0px 0px 20px white;
}

@keyframes left-line-anim {
    0% {
        transform: translate(0%, 50%);
        opacity: 40%;
    }

    60% {
        opacity: 0%;
        transform: translate(-5000%, 50%);
    }
    100% {
        transform: translate(-6000%, 50%);
        opacity: 0%;
    }
}

@keyframes right-line-anim {
    0% {
        transform: translate(0%, 50%);
        opacity: 40%;
    }

    60% {
        opacity: 0%;
        transform: translate(5000%, 50%);
    }
    100% {
        transform: translate(6000%, 50%);
        opacity: 0%;
    }
}
